body {
  display: inline-flex;
  width: 99%;
  background-color: #E2E3DF;
}

.historyPageTitle{
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-bottom: 5%;
}

.historyHolderDiv{
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-bottom: 1%;
}

/*.historyHolderDiv :hover {
  border: red;
}*/

.mainContent{
  display: flex;
  flex-direction: column;
}
