
/******************************
General Layout
*******************************/

/**, *:before, *:after {
  box-sizing: inherit;*/
}
html {
  /*box-sizing: border-box;*/
  /*height: 100%;*/

}

body {
  background: url("../img/index-background.jpg") no-repeat fixed center /cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /*border: 1px black solid;*/
  /*background: linear-gradient(200deg, #27156E, #6A2A88, #9F4981);*/
  /*transition: all .5s ease;*/
	/*z-index: 2;*/
	/*opacity: 0;*/
}

/******************************
Flexbox Layout
*******************************/
.container-flex, .header-container, .header, .main, .footer, .nav, .input-fields {
  display: flex;
}
.layer {
  background-color: (243, 255, 226, 0.5);
  margin: auto;
  width: 50%;
  height: 70%;
}
.container-flex {
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  flex-grow: 0;
}

.header-container {
  flex-grow: 0;
}

.footer {
  flex-grow: 0;
  align-self: center;
  align-items: center;
  max-height: 10%;
  /*border: 2px solid black;*/
  /*background-color: rgba(235,127,0, 0.6 );*/
  align-self: flex-end;
  }

.clear {
  flex-grow: 1;
}

/*.nav {
  align-self: center;
}*/
.nav {
  align-items: center;
  width: 100%;
  justify-content: space-around;

}

/******************************
Form Styling
*******************************/

.input-form    {
flex-grow: 1;
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background-color: rgba(243,255,226,0.6);
margin:auto;
/*position: relative;*/
width:80%;
height:90%;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #225378;
text-decoration: none;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
box-shadow: 12px 12px 8px rgba(0,0,0,0.5);
margin: 10% 5%;
}

.input-fields {
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.input-fields input{
  flex-basis: 80%;
    padding: 9px;
    border: solid 1px #d5d5d5;
    outline: 0;
    font: 13px Verdana, Tahoma, sans-serif;
    width: 80%;
    background: #FFFFFF;
    /*box-shadow: 100px 100px 70px rgba(235,127,0,1);*/
    padding: 12px 12px;
  	width:400px;
    height: 25px;
  	border-top:1px solid #090B0D;
  	border-right:2px solid #424549;
  	border-bottom:2px solid #424549;
  	border-left:1px solid #090B0D;
  	margin: 10px 1em;
    border-radius: 5px;
    }
.input-fields input:hover, .input-fields input:focus{
    border-color: #b1b1b1;
    }

.input-fields input:focus {
  box-shadow: rgba(0,0,0, 0.20) 0px 0px 8px;
}
/*.form label{
    font: 14px Verdana, Tahoma, sans-serif;
    margin-left: 10px;
    color: #555555;
    width: 80px;
    display: inline-block;
    }*/
.submit {
  align-self: center;
  /*border: 1p solid #999;*/

}

.submit input{
    width: auto;
    padding: 30px 30px;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 51%,#7db9e8 100%);
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;

    }
.submit input:hover{
    background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    /*border-bottom: 3px solid #1695A3;
    transition: all .1s;*/
  }

.inline-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 2%;
}

.nav li {
  list-style-type: none;
  align-self: center;

}

.nav li a {
  text-decoration: none;
  text-align: center;
}

.navImg {
  width: 40px;
  height: 40px;
  /*flex-grow: 0;*/
  display: flex;
  width: 40px;
  border-radius: 5px;
  background-color: rgba(243,255,226, 0.7);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  justify-content: center;
}

/*p {
    display: flex;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}*/
