.navImg  {
  height: 40px;
  widows: 40px;
}

.navBarImageHolder{
  flex-grow: 0;
  display: flex;
  width: 40px;
  border-radius: 5px;
  /*background-color: rgb(90, 186,0);*/
  background-color: rgba(243, 255, 226, 0.7);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  justify-content: center;
}

/*body {
  display: inline-flex;
  width: 99%;
  background-color: #E2E3DF;
}*/

.main-container {
  display: inline-flex;
  width: 99%;
  background-color: #E2E3DF;
}

.leftNavbar {
  width: 20%;
  height: 100%;
  border: 1px black solid;
  position: fixed;
  align-items: center;
  flex-direction: column;
  display: flex;
  /*background-color: rgb(48, 52, 60);*/
  background-color: rgba(86,103,149,1);
}

.navBarList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.zillowBrandingNavPara {
  flex-grow: 0;
  text-align: center;
  font-size: 0.75em;
  align-self: flex-end;
  color: #E2E3DF;
}

.zillowBrandingNavPara > a {
  color: inherit;
}

.invisibleSpacerDiv {
  width: 22%;
  flex-grow: 1;
}

.mainContent{
  width: 78%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mapHolder{
  padding: 5%;
  border-radius: 5px;
  /*background-color: rgb(48, 52, 60);*/
  background-color: rgba(86,104,149,0.3);
  color: #E2E3DF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.resultsHolder{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top:
  width: 80%;
}

.resultsTextHolderEl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultsArrow{
  width: 50px;
  height: 50px;
}

.rentComparison{
  text-align: center;
  margin:0;
}

.resultsHeader{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.zillowLogo {
  margin-top: 2%;
  display: inline-flex;
}

.zillowBrandingLinkPara > a {
  color: #E2E3DF;
  margin: 5px;
}

.zillowBrandingHolder{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-content: center;
  justify-content: center;
}

.map{
  width: 90%;
  min-width: 300px;
  min-height: 300px;
}

.hobbit-houses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hobbit-houses img {
  width: 500px;
  height: 350px;
  margin-left: 20%;
  border-radius: 10px;
}
